.navbar {
    display: flex;
    background-color: rgb(30, 31, 36);
}
.hero {
    background-image: url(images/luca-bravo-8x_fFNrmeDk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 293px 0;
    text-align: center;
}
.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.contact-form {
    background: #fff;
    padding: 25px 30px;
    max-width: 95%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.contact-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
.contact-form button:hover {
    background-color: #0056b3;
}
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #1da1f2;
}